.decrement {
  display: flex;
  height: 60px;
  width: 120px;
  border-radius: 12px;
  padding: 8px;
  background-color: red;
  border-style: none;
  color: white;
  font-size: 48px;
  font-family: "Roboto Light", sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 1px -4px 35px -2px rgba(255, 0, 29, 0.2);
  }
}